*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 62.5%;
  font-family: 'kumbh sans';
}

img{
  display: block;
  width: 100%;
}
header{
  margin: 0 auto;
  max-width: 90vw;
  align-items: center;
  height: 12rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid hsl(220, 14%, 75%);
}
header li{

  font-weight: 500;
  font-size: 2.5rem;
}

header button{
  border: none;
  background: transparent;
  margin-right: 4rem;
}

li a {
  margin-left: 3rem;
  color: hsl(219, 9%, 45%);
}

.avatar{
  width: 5rem;
}

.logo{
  margin-right: 3rem;
  width: 15rem;
  height: 2rem;
}

.menu ul, header div{
  align-items: center;
  display: flex;
}

section{
  gap: 10rem;
  display: flex;
  max-width: 80vw;
  margin: 10rem auto 10rem;
}

.product{
  max-width: 40rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-areas: 
  "main-item main-item main-item main-item"
  "item1 item2 item3 item4"
  ;
}

.main-item{
  grid-area: main-item;
}

.item1{
  grid-area: item1;
}
.item2{
  grid-area: item2;
}
.item3{
  grid-area: item3;
}
.item4{
  grid-area: item4;
}

.main{
  border-radius: 2rem;
}

.tumb{
  border-radius: 1rem;
}

.product-desc{
  margin-top: 6rem;
  display: block;
  max-width: 45rem;
}

h1{
  font-size: 5rem;
  margin: 2rem 0 4rem;
}

span{
  color: hsl(26, 100%, 55%);
  font-size: 1.5rem;
  font-weight: 700;
}

p{
  font-size: 1.6rem;
  font-weight: 400;
  color: hsl(219, 9%, 45%);
  margin-bottom: 2rem;
}

.price{
  font-size: 3rem;
  font-weight: 700;
  line-height: 0;
  margin: 4rem 0 1.5rem;
}

.price span{
  background-color: hsl(25, 100%, 94%);
  padding: .5rem;
  border-radius: 3px;
}

.price, h1, .cont{
  color: hsl(220, 13%, 13%);
}

.descont{
  color: hsl(220, 14%, 75%);
  font-size: 3rem;
  font-weight: 700;
}

s{
  text-decoration: line-through;
}

.cart-section{
  display: flex;
}

.cart-section button, .cont{
  border: none;
  background-color: transparent;
  font-size: 2rem;
}

.cont-section{
  display: flex;
  align-items: center;
  background-color: hsl(223, 64%, 98%);
  width: 12rem;
  justify-content: space-around;
  border-radius: 5px;
}

.cont-section button{
  color: hsl(26, 100%, 55%);
  font-size: 3rem;
  margin-bottom: 1rem;
  padding: 0 .5rem;
}

.cont-section button:hover{
  cursor: pointer;
}

.cart-section img{
  width: 3rem;
}

.cart-section > button{
  font-weight: 700;
  background-color: hsl(26, 100%, 55%);
  color: white;
  width: 70%;
  padding: 2rem 0;
  border-radius: 5px;
  box-shadow: 20px 20px 60px hsl(26, 100%, 55%);
  transition: .3s;
  border: 3px solid hsl(26, 100%, 55%);
  margin-left: 1rem;
}

.cart-section > button:hover{
  cursor: pointer;
  background-color: white;
  color: hsl(26, 100%, 55%);
}